{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
    /* custom styles */

    .img-style {
        width: 100px !important;
        height: 90px !important;
    }

    .quantity {
        display: inline-block !important;
        font-weight: 700 !important;
        padding-right: 10px !important;
    }

    .ch-quantity {
        width: 12px !important;
        cursor: pointer !important;
        display: block !important;
    }

    /* end of custom styles */
</style>

<div class="p-3 pt-5">

</div>
<div class="container p-3 pt-5 ">
    <div class="row">
        <div class="col-lg-12">
            {% load cart_tag %}
            <div class="shadow p-3">

                <a class="btn btn-outline-success  text-dark" href="{% url 'shop' %}">&#x2190; Continue
                    Shopping</a>
                <hr>
                <table class="table">
                    <tr>
                        <th>
                            <h5>Items: <strong>{{request.session.cart|length}} </strong></h5>
                        </th>
                        <th>
                            <h5>Total:<strong> kSH {{cart_total_amount}}</strong></h5>
                            <!--  value.price|multiply:value.quantity -->
                        </th>
                        <th>
                            <a style="float:right; margin:5px;" class="btn btn-success"
                                href="{% url 'checkout' %}">Checkout</a>
                        </th>
                    </tr>
                </table>

            </div>

            <br>
            <br>
            <div class="row">
                <div class="shadow">
                    <div class="row">
                        <div style="flex:2" class="fw-bold text-dark"><strong>Image</strong></div>
                        <div style="flex:2" class="fw-bold text-dark"><strong>Item</strong></div>
                        <div style="flex:1" class="fw-bold text-dark"><strong>Price</strong></div>
                        <div style="flex:1" class="fw-bold text-dark"><strong>Quantity</strong></div>
                        <div style="flex:1" class="fw-bold text-dark"><strong>Total</strong></div>
                    </div>
                    <hr>
                    {% for key,value in request.session.cart.items %}
                    <div class="row">

                        <div style="flex:2"><img class="row-image img-style" src="{{value.image}}"></div>
                        <div style="flex:2">
                            <p class="text-dark">{{value.name}}</p>
                        </div>
                        <div style="flex:1">
                            <p class="text-dark">ksh {{value.price|floatformat:2}}</p>
                        </div>
                        <div style="flex:1">
                            <p class="quantity text-dark">X{{value.quantity}}
                            <div class="quantity">
                                <a href="{% url 'item_increment' value.product_id %}">
                                    <i class="bi bi-caret-up-fill ch-quantity text-primary"></i>
                                </a>
                                {% if value.quantity > 1 %}

                                <a href="{% url 'item_decrement' value.product_id %}">
                                    <i class="bi bi-caret-down-fill ch-quantity text-primary"></i>
                                </a>

                                {% endif %}

                            </div>
                            <div class="quantity">
                                <a href="{% url 'item_clear' value.product_id %}">
                                    <i class="bi bi-x-circle-fill fw-bold  text-danger"></i>
                                </a>
                            </div>
                            </p>
                        </div>
                        <div style="flex:1">
                            <p class="text-dark">kSH {{value.price|multiply:value.quantity}} </p>
                        </div>

                    </div>

                    <hr>
                    {% endfor %}

                    <div class="p-4 justify-content-between">
                        <a class="btn btn-danger " href="{% url 'cart_clear' %}">Clear Cart</a>
                    </div>

                    <hr>

                </div>


            </div>

        </div>
    </div>
</div>
{% endblock content %}