{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
    /* custom styles */

.img-style {
  width: 100px !important;
  height: 90px !important;
}

/* end of custom styles */   
</style>


<br>
<br>
<br>
<div class="mt-4">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="shadow bg-light" id="form-wrapper">
					<form id="form">
						<div class="row p-3">
							<div class="col">
								<input type="text" class="form-control" placeholder="Names">
							</div>
							<div class="col">
								<input type="email" class="form-control" placeholder="Email">
							</div>
						</div>

						<div id="shipping-info">
							<div class="row p-3">
								<hr>
								<p class="fw-bold">Shipping Information:</p>
								<hr>

								<div class="form-field col">
									<input class="form-control" type="text" name="address" placeholder="Address..">
								</div>
								<div class="form-field col">
									<input class="form-control" type="text" name="city" placeholder="City..">
								</div>
							</div>
							<div class="row p-3">
								<div class="form-field col">
									<input class="form-control" type="text" name="state" placeholder="State..">
								</div>
								<div class="form-field col">
									<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
								</div>

							</div>
						</div>

						<hr>
						<div class="row p-3">
							<input id="form-button" class="btn btn-success btn-block" type="submit"
								value="Continue">
						</div>


					</form>
				</div>

				<br>
				<div class="box-element hidden" id="payment-info">
					<small>Paypal Options</small>
				</div>

			</div>

			<div class="col-lg-6">
				<div class="shadow bg-light">
					<div class="p-3">
						<a class="btn btn-outline-success text-dark" href="{{request.META.HTTP_REFERER}}">&#x2190; Back to
							Cart</a>
						<hr>
						<h3 class="fw-bolder">Order Summary</h3>
						<hr>
						{% for item in items %}
						<div class="row">
							<div style="flex:2"><img class="row img-style" src="{{item.product.image1.url}}">
							</div>
							<div style="flex:2">
								<p class="text-dark">{{item.product.product_name}}</p>
							</div>
							<div style="flex:1">
								<p class="fw-bold text-dark">ksh{{item.product.price}}</p>
							</div>
							<div style="flex:1">
								<p class="fw-bold text-dark">x{{item.quantity}}</p>
							</div>
						</div>
						{% endfor %}
						<h5 class="fw-bolder">Items: {{order.get_cart_items}}</h5>
						<h5 class="fw-bolder">Total: ksh: {{order.get_cart_total|floatformat:2}}</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}