{% extends 'main.html' %}

{% block content %}

{% load static %}


  <style>
    .hr {
      color: #ffffff;
      background-color: #ffffff;
    }

    a {
      color: #ffffff !important;
    }

    a:hover {
      color: #196135 !important;
      text-decoration: none;
    }

    .dropdown-item .text-success a:hover {
      color: black !important;
    }

    .new {
      color: black !important;
    }

    .sidenav {
      height: 100%;
      width: 160px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      overflow-x: hidden;
    }
  </style>

<body>

  <!-- ======= Intro Section ======= -->

  <div class="intro intro-carousel swiper position-relative">
    <div class="swiper-wrapper">
      <a href="{% url 'shop' %}">
        <div class="swiper-slide carousel-item-a intro-item bg-image"
          style="background-image: url({% static '/img/pexels-uzunov-rostislav-5011647.jpg' %})">
          <div class="overlay overlay-a"></div>
          <div class="intro-content display-table">
            <div class="table-cell">
              <div class="container">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="intro-body">
                      <p class="intro-title-top">Nairobi, Kenya
                        <br> 1428-30100
                      </p>
                      <h1 class="intro-title mb-4 ">
                        <span class="color-b">Ken </span> Mart
                        <br> Online Mall
                      </h1>
                      <p class="intro-subtitle intro-price">
                        <a href="{% url 'shop' %}"><span class="price-a">Shop-Now</span></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="{% url 'shop' %}">
        <div class="swiper-slide carousel-item-a intro-item bg-image"
          style="background-image: url({% static 'img/Laptop-Wallpapers-Hd-posted-by-John-Walker-5QnckRXhyjTnTM_transcpr.jpg' %})">
          <div class="overlay overlay-a"></div>
          <div class="intro-content display-table">
            <div class="table-cell">
              <div class="container">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="intro-body">
                      <p class="intro-title-top">Nairobi, Kenya
                        <br> 1428-30100
                      </p>
                      <h1 class="intro-title mb-4 ">
                        <span class="color-b">Ken </span> Mart
                        <br> Online Mall
                      </h1>
                      <p class="intro-subtitle intro-price">
                        <a href="{% url 'shop' %}"><span class="price-a">Shop-Now</span></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="{% url 'shop' %}">
        <div class="swiper-slide carousel-item-a intro-item bg-image"
          style="background-image: url({% static 'img/pexels-flo-maderebner-623919.jpg' %})">
          <div class="overlay overlay-a"></div>
          <div class="intro-content display-table">
            <div class="table-cell">
              <div class="container">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="intro-body">
                      <p class="intro-title-top">Nairobi, Kenya
                        <br> 1428-30100
                      </p>
                      <h1 class="intro-title mb-4 ">
                        <span class="color-b">Ken </span> Mart
                        <br> Online Mall
                      </h1>
                      <p class="intro-subtitle intro-price">
                        <a href="{% url 'shop' %}"><span class="price-a">Shop-Now</span></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  </a>

  {% endblock %}