{% extends 'main.html' %}

{% block content %}

{% load static %}


<!-- ======= Intro Section ======= -->
<div class="intro intro-carousel swiper position-relative">
  <div class="swiper-wrapper">
    <div class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url(assets/img/pexels-uzunov-rostislav-5011647.jpg)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top">Nairobi, Kenya
                    <br> 1428-30100
                  </p>
                  <h1 class="intro-title mb-4 ">
                    <span class="color-b">Ken </span> Mart
                    <br> Online Mall
                  </h1>
                  <p class="intro-subtitle intro-price">
                    <a href="{% url 'shop' %}"><span class="price-a">Shop-Now</span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url(assets/img/Laptop-Wallpapers-Hd-posted-by-John-Walker-5QnckRXhyjTnTM_transcpr.jpg)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top">Nairobi, Kenya
                    <br> 1428-30100
                  </p>
                  <h1 class="intro-title mb-4 ">
                    <span class="color-b">Ken </span> Mart
                    <br> Online Mall
                  </h1>
                  <p class="intro-subtitle intro-price">
                    <a href="{% url 'shop' %}"><span class="price-a">Shop-Now</span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url(assets/img/pexels-flo-maderebner-623919.jpg)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top">Nairobi, Kenya
                    <br> 1428-30100
                  </p>
                  <h1 class="intro-title mb-4 ">
                    <span class="color-b">Ken </span> Mart
                    <br> Online Mall
                  </h1>
                  <p class="intro-subtitle intro-price">
                    <a href="{% url 'shop' %}"><span class="price-a">Shop-Now</span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>

{% endblock %}