{% extends 'main.html' %}

{% block content %}

{% load static %}

<div class="p-3 mt-5">

  <div class="container-fluid">
    <div class="row flex-nowrap ">

      {% include 'sidebar.html' %}

      <div class="col py-3">
        <section class="grid">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                  <h3 class="title-single"></h3>

                </div>
              </div>
              <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a class="new" href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      <a class="new" href="{% url 'shop' %}">Properties Grid</a>
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </section><!-- End Intro Single-->

        <!-- ======= Property Grid ======= -->
        <section class="property-grid grid">
          <div class="container">
            <div class="row">
              <!-- product loop -->
              {% for product in page_obj %}

              <div class="col-md-3 p-1">

                <div class="shadow bg-light">
                  <img src="{{baseUrl}}/{{product.image}}" class="card-img-top" alt="..." height="280" width="250">
                  <div class="card-body">
                    <p class="fw-bold text-dark">{{product.name|truncatewords:5}}</p>

                    <p class="card-text text-dark">Price: <span class="fw-bold">{{product.price|floatformat:2}}</span>
                    </p>
                    <a href="{% url 'product' product.id %}" class="btn btn-success">View</a>

                    <a href="{% url 'cart_add' product.id %}" class="btn btn-primary update-cart">Add To Cart</a>
                    <!-- <button data-product="{% url 'cart_add' product.id %}" 
                      class="btn btn-primary">Add-To-Cart</button> -->

                    

                  </div>
                </div>
              </div>
              {% endfor %}
              <!-- end of properties  -->

            </div>

            <!-- pagination -->
            <div class="row">
              <div class="col-sm-12">
                <nav class="pagination-a pagination p-4 justify-content-end">
                  <ul class="pagination justify-content-end">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                      <a class="page-link text-dark" href="?page=1">
                        <span class="bi bi-chevron-double-left"></span>
                        First
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link text-dark" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">
                        <span class="bi bi-chevron-left"></span>
                      </a>
                    </li>
                    {% endif %}

                    <li class="page-item current active">
                      <a class="page-link text-dark" href="#">{{ page_obj.number }}</a>
                    </li>

                    {% if page_obj.has_next %}
                    <li class="page-item next">
                      <a class="page-link text-dark" href="?page={{ page_obj.next_page_number }}">
                        <span class="bi bi-chevron-right"></span>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link text-dark" href="?page={{ page_obj.paginator.num_pages }}">
                        Last
                        <span class="bi bi-chevron-double-right"></span>
                      </a>
                      
                    </li>
                    {% endif %}
                  </ul>
                </nav>
              </div>
            </div>
            <!-- end of pagination -->

          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- <div class="pb-5">

</div> -->

{% endblock %}