 <!-- ======= Footer ======= -->
 <section class="pt-5 pb-5 bg-dark">
    <div class="container ">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand text-success">KenMart</h3>
            </div>
            <div class="w-body-a">
              <p class="w-text-a text-light">
                KenMart Mall is ultra modern mall that is right at your convinience to shop anytime anywhere at 
                an affordable price.
              </p>
            </div>
            <div class="w-footer-a">
              <ul class="list-unstyled">
                <li class="text-light">
                  <span class="text-success">Phone .</span> +254 720841555
                </li>
                <li class="text-light">
                  <span class="text-success">Email .</span> kenmartmall@co.ke
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand text-success">Site-Links</h3>
            </div>
            <div class="w-body-a">
              <div class="w-body-a">
                <ul class="list-unstyled">
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right "></i> <a class="text-light" href="{% url 'index' %}">Home</a>
                  </li>
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a class="text-light" href="{% url 'about' %}">About</a>
                  </li>
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a class="text-light" href="{% url 'shop' %}">Shops</a>
                  </li>
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a class="text-light" href="{% url 'blog' %}">Blogs</a>
                  </li>
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a class="text-light" href="{% url 'agents' %}">Agents</a>
                  </li>
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a class="text-light" href="{% url 'contact' %}">Contact</a>
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand text-success">Contact Us</h3>
            </div>
                
            <!--start of form-->
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <input type="text" name="name" class="form-control form-control-lg form-control-a" placeholder="name" required>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <input type="email" name="email" class="form-control form-control-lg form-control-a" placeholder="email" required>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea name="message" class="form-control" name="message" cols="25" rows="6" placeholder="Message" required></textarea>
                  </div>
                </div>
                <div class="col-md-12 my-3">
                  <div class="mb-1">
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                  </div>
                </div>

                <div class="col-md-12 text-center p-2">
                  <button class="btn btn-submit btn-success">Send Message</button>
                </div>
              </div>
            </form>
          </div>
            <!--end of form-->


        </div>
    </div>
    <hr>
    <div class="credits text-center">
        Designed by <a href="#">NelsonelTech Solutions</a>
      </div>
  </section>   
  </footer>