<!--styles-->
<style>
  a {
    color: #ffffff !important;
  }

  a:hover {
    color: #196135 !important;
    text-decoration: none;
  }

  .dropdown-item .text-success a:hover {
    color: black !important;
  }

  .new {
    color: black !important;
  }
</style>

<!-- ======= Header/Navbar ======= -->
<nav class="navbar navbar-default navbar-trans navbar-expand-lg p-0 bg-dark fixed-top">
  <div class="container">
    <button class="navbar-toggler collapsed bg-success" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false"
      aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <a class="navbar-brand text-brand text-light" href="{% url 'index' %}">Ken<span class="color-b">Mart</span></a>

    <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">

      <div class="col-md-6 col-sm-8 col-xs-11">
        <form class="" method="GET" action=" {% url 'shop' %} ">
          <div class="navbar-form " role="search">
            <div class="input-group pt-3">
              <input type="text" class="form-control" placeholder="Search" name="q"
                style="max-width: 100%; width: 100%;">
              <div class="input-group-btn">
              </div>

            </div>
          </div>
        </form>
      </div>

      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Pages</a>
          <div class="dropdown-menu bg-dark">
            <a class="dropdown-item" href="{% url 'shop' %}">Product</a>
            <a class="dropdown-item " href="{% url 'blog' %}">Blog Single</a>
            <a class="dropdown-item " href="{% url 'agents' %}">Agents Grid</a>
            <a class="dropdown-item " href="agent_single">Agent Single</a>
          </div>
        </li>
      </ul>

    </div>
    <div>
    </div>

    <button type="button" class="btn btn-b-n navbar-toggle-box navbar-toggle-box-collapse" data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01">
      <i class="bi bi-person-circle"></i>

    </button>
    <div class=" navbar-toggle-box">
      <a href="{% url 'cart_detail' %}">
        <i class="bi bi-cart3"></i>
      </a>
      <p class="bg-light p-2 rounded-pill" id="cart-total">{{request.session.cart|length}}</p>
    </div>


  </div>
</nav><!-- End Header/Navbar -->